####################################
# OS / Editor
####################################
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json

####################################
# Logs
####################################
*.log

####################################
# Environment files
####################################
.env


####################################
# Docker
####################################
docker-data/
docker-volumes/

####################################
# Node (ako slučajno pokreneš npm u rootu)
####################################
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

####################################
# Build artifacts
####################################
dist/
coverage/
