services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_DATABASE: auctions
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_ROOT_PASSWORD: ""
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 20

  backend:
    build: ./backend
    container_name: laravel_app
    working_dir: /var/www
    volumes:
      - ./backend:/var/www
      - /var/www/vendor
    ports:
      - "8000:8000"
    environment:
      APP_ENV: local
      APP_URL: http://localhost:8000
      DB_CONNECTION: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: auctions
      DB_USERNAME: root
      DB_PASSWORD: ""
    command: sh -c "php artisan serve --host=0.0.0.0 --port=8000 & while true; do php artisan schedule:run; sleep 60; done"
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build: ./frontend
    container_name: react_app
    working_dir: /app
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      CHOKIDAR_USEPOLLING: "true"
    command: npm run dev -- --host 0.0.0.0 --port 5173
    depends_on:
      - backend



volumes:
  dbdata:
