/* Reusable Button styles */
.ui-btn {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 5px 5px;
  font-size: 15;
  
}

.ui-btn--primary {
  background: #111;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
  padding: 10px 20px;
}
.ui-btn--primary:hover {
  background: #ffffff;
  color: #000000;
  font-size: 18px;
  border-radius: 10px;
  padding: 10px 20px;
  transition: background-color 0.4s ease-out,
  color 0.4s ease-out,
  transform 0.2s ease-out,
  box-shadow 0.2s ease-out;
}
.ui-btn--thirdary {
  color: #000000;
  background-color: #ffffff;
  border-radius: 9000px;
  font-size: 20px;
  padding: 8px 12px 8px 12px;
}
.ui-btn--thirdary:hover {
  color: #ffffff;
  background-color: #000000;
  border-radius: 9000px;
  font-size: 20px;
  padding: 8px 12px 8px 12px;
  transition: background-color 0.4s ease-out,
  color 0.4s ease-out,
  transform 0.2s ease-out,
  box-shadow 0.2s ease-out;
}
.ui-btn--secondary:hover:not(:disabled) {
  background: linear-gradient(
    180deg,
    rgba(255,255,255,0.95),
    rgba(250,250,250,0.8)
  );
  
  box-shadow: 0 10px 25px rgba(102, 126, 234, 0.2);
  transition: background-color 0.4s ease-out,
  color 0.4s ease-out,
  transform 0.2s ease-out,
  box-shadow 0.2s ease-out;
}
.ui-btn--secondary {
  position: relative;
  padding: 14px 36px;
  border-radius: 500px;
  border: 1px solid rgba(0,0,0,0.08);

  box-shadow:
    0 10px 25px rgba(190, 54, 54, 0.08),
    inset 0 1px 1px rgba(255,255,255,0.9),
    inset 0 -1px 1px rgba(0,0,0,0.05);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  color: #111;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s ease;
  
}
.ui-btn--secondary2 {
  position: relative;
  padding: 8px;
  border-radius: 500px;
  border: 1px solid rgba(0,0,0,0.08);

  box-shadow:
    0 10px 25px rgba(190, 54, 54, 0.08),
    inset 0 1px 1px rgba(255,255,255,0.9),
    inset 0 -1px 1px rgba(0,0,0,0.05);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  color: #111;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.25s ease;
  
}
.ui-btn--secondary2:hover:not(:disabled) {
  background: linear-gradient(
    180deg,
    rgba(255,255,255,0.95),
    rgba(250,250,250,0.8)
  );
  
  box-shadow: 0 10px 25px rgba(102, 126, 234, 0.2);
  transition: background-color 0.4s ease-out,
  color 0.4s ease-out,
  transform 0.2s ease-out,
  box-shadow 0.2s ease-out;
}


.ui-btn--link {
  width: auto;
  padding: 0;
  background: transparent;
  color: inherit;
  text-decoration: underline;
}
.ui-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
