/* Reusable Button styles */
.ui-btn {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 5px 5px;
  font-size: 15;
  
}

.ui-btn--primary {
  background: #111;
  color: #fff;
}
.ui-btn--secondary:hover:not(:disabled) {
  background-color: #111;
  color: white;
  transition: background-color 0.4s ease-out,
  color 0.4s ease-out,
  transform 0.2s ease-out,
  box-shadow 0.2s ease-out;
}
.ui-btn--secondary {
  background: #f1f1f1;
  color: #111;
}

.ui-btn--link {
  width: auto;
  padding: 0;
  background: transparent;
  color: inherit;
  text-decoration: underline;
}
.ui-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
