.footer2 {
    background-color: #2B2741;
    color: white;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;


}

.footer-wrapper {
    width: 80%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: flex-start;

}

.white {
    color: white;
}

.copyright-footer {
    background-color: #1d1b2b;
    width: 100%;
}

.p10 {
    color: white;
    margin-top: 0;
    
}

.p101 {
    color: white;
    margin-top: 0;
    font-size: 12px;
    font-weight: 200;
    
}
.contact-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    

}
.footerp{
    font-size: 12px;
}
.email-contanct{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}
