.nav {
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  display: flex;
  position: absolute;
  inset: 0% 0% auto;
  z-index: 9999;
  background: transparent;
}
.nav-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.h4-nav {
  margin: 0 0 0 12px;
  font-size: 17px;
  font-weight: 500;
  list-style: 100%;
}
.nav-actions {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 12px;
}
.nav__logoWrap{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;;
}
.nav-link{
   color: #111;
  font-size: 17px;
  line-height: 100%;
  text-decoration: none;
  
}
.nav-link:hover{
  text-decoration: underline;
  color: #1111116b;
  color: 0.3s ease-out;
  transition: color 0.3s ease-out, transform 0.3s ease-out;

}


.nav--dark {
  backdrop-filter: blur(10px); 
}

.nav--dark .nav-link {
  color: rgba(255, 255, 255, 0.9);
}

.nav--dark .nav-link:hover {
  color: #ffffff93;
  text-decoration: underline;
  transition: color 0.3s ease-out;
}

.nav__logo {
  width: 48px;
  height: 48px;
}
.nav-right{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
